.home-side{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 60px;
}

.home-side p{
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 16px;
    color: #3E3F43;
}

.home-side p span{
    font-weight: 800;
}

.home-side h1{
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 17px;
    color: #313235;
}

.home-side .content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home-side .image-container {
    text-align: right;
  }
  
  .home-side .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .home-side .image-caption {
    font-size: 0.8em;
    margin-top: 5px;
  }
  
  .home-side {
    position: relative;
  }
  
  .load-image-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .load-image-button:hover {
    background-color: #45a049;
  }
  
  .content-section {
    margin-top: 50px; /* Ajustar según sea necesario */
  }
  
  .image-container img {
    width: 300px;
    height: 370px;
    object-fit: cover;
  }
  